GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://[your domain]/sign-in/google/callback

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_CREDIT_PRICE_ID=
STRIPE_SUBSCRIPTION_PRICE_ID=
STRIPE_ENDPOINT_SECRET=

NEXT_PUBLIC_HUB_API_ENDPOINT=
HUB_API_ESTIMATE_GPU_ENDPOINT=

NEXT_PUBLIC_DEPOSIT_ADDRESS=

INFLUX_TOKEN=
INFLUX_URL=
INFLUX_ORG=
INFLUX_BUCKET=

DATABASE_HOST=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
